<h1>CAKE!</h1>
<p>I want to love you madly. I want to love you now.
    <!-- Find me in app/views/pages/home.html.erb -->
    
    
    </p>

<%= form_tag("/sms/send", method: "post") do %>
 Please find yourself a message and some words to call your own:
<% end %>
<%= form_tag("/sms/send", method: "post") do %>
 Please enter number unless your friend's have no phone or just want to be alone today:
<% end %>