<h1>CAKE!</h1>
<p>I want to love you madly. I want to love you now.
    <!-- Find me in app/views/pages/home.html.erb -->
    </p>
<%= form_tag("/sms/send", method: "post") do %>
  <div>
        <label for="msg">Find yourself a message and a place to call your own:</label>
        <textarea id="msg" name="user_message"></textarea>
    </div>
    <div>
        <label for="phone number">Text them home (or cell):</label>
        <input type="phone" id="phone number" name="user_phone number">
    </div>
<div class="button">
  <button type="submit">Send your message</button>
</div>
<% end %>

